<div class="row">
  <%= react_component('ChatContainer', {chats_url: match_chats_url(@match), create_chat_url: match_chats_url(@match)} ) %>
  <div class="col-md-6">
  <h2 class="text-center"><span class="text-info"><%= @partner.username %></span></h2>
    <div class="card card-block">
      <p class="card-text"><%= @partner.code_sample %></p>
    </div>
  </div>
</div>
