<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
    <thead>
      <tr>
        <th>person</th>
        <th>messages</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @matches.each do |match| %>
      <tr>
        <th scope="row"><%= link_to match.partner_for(current_user).username, match_path(match) %></th>
        <td><%= match.chats.count %></td>
        <td class="text-muted"><%= time_ago_in_words match.created_at %> ago</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
